@using EstoqueWEB.Model
@using Microsoft.AspNetCore.Identity
@inject UserManager<AplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstoqueWEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .navbar-custom {
            background-color: #f0f0f0;
        }

        .social-button {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 5px;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .linkedin-button {
            background-color: #0077b5;
        }

            .linkedin-button:hover {
                background-color: #005582;
            }

        .github-button {
            background-color: #333;
        }

            .github-button:hover {
                background-color: #24292e;
            }

        .logout-button {
            background-color: #cc0000;
            border-color: #cc0000;
            color: white;
        }

            .logout-button:hover {
                background-color: #aa0000;
                border-color: #aa0000;
            }

        .sim-button {
            background-color: #28a745;
            border-color: #28a745;
            color: white;
        }

            .sim-button:hover {
                background-color: #218838;
                border-color: #1e7e34;
            }

        .nao-button {
            background-color: #cc0000;
            border-color: #cc0000;
            color: white;
        }

            .nao-button:hover {
                background-color: #aa0000;
                border-color: #aa0000;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    var user = await UserManager.GetUserAsync(User);
                    if (user != null && await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <a class="navbar-brand" asp-area="" asp-page="/Admin">
                            <img src="~/images/logo.png" alt="Logo" style="height: 30px;" />
                        </a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-page="/Local">
                            <img src="~/images/logo.png" alt="Logo" style="height: 30px;" />
                        </a>
                    }
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="~/images/logo.png" alt="Logo" style="height: 30px;" />
                    </a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark social-button linkedin-button" href="https://www.linkedin.com/in/ruan-bueno-jardim/" target="_blank">LinkedIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white social-button github-button" href="https://github.com/rbjardim" target="_blank">GitHub</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                    <a class="nav-link text-blackalert-dark" asp-area="" asp-page="/Devolucao">Devolução</a>
                            </li>
                        }
                    </ul>
                    <div class="btn-group-custom">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-area="" asp-page="/Logout">
                                <button type="submit" class="btn logout-button">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a asp-page="/Login" class="btn btn-primary">Login</a>
                            <a asp-page="/Register" class="btn btn-secondary">Registrar</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EstoqueWEB - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
