@using EstoqueWEB.Model
@using Microsoft.AspNetCore.Identity
@inject UserManager<AplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstoqueWEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            background-color: #e7ecef;
            font-family: Arial, sans-serif;
        }

        .navbar-custom {
            background-color: #0096c7;
            padding: 10px 20px;
        }

            .navbar-custom .navbar-brand {
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
            }

            .navbar-custom .navbar-nav .nav-link {
                color: white;
                margin-right: 5px;
            }

        .search-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-input {
            width: 80%;
            padding: 10px;
            border: 1px solid #e7ecef;
            border-radius: 4px;
        }

        .search-button {
            padding: 10px 20px;
            margin-left: 10px;
            background-color: #0096c7;
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }

            .search-button:hover {
                background-color: #007bb5;
            }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        .logout-button {
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 10px;
        }

            .logout-button:hover {
                background-color: #bb2d3b;
            }

        .italic-text {
            font-style: italic;
            padding: 10px 20px;
            margin-left: 5px
        }

        .services-dropdown {
            position: relative;
            display: inline-block;
        }

        .services-dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 200px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            overflow: hidden;
            top: 100%;
            left: 0;
            z-index: 1;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }

            .services-dropdown-content a {
                color: #333;
                padding: 10px 15px;
                text-decoration: none;
                display: block;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

                .services-dropdown-content a:hover {
                    background-color: #0096c7;
                    color: #fff;
                }

        .services-dropdown:hover .services-dropdown-content {
            display: block;
            opacity: 1;
            visibility: visible;
        }

    </style>
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            var user = await UserManager.GetUserAsync(User);
            if (user != null && !(await UserManager.IsInRoleAsync(user, "Admin")))
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="nav-link text-white" asp-area="" asp-page="/Local">Inicio</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <a class="nav-link text-white" asp-area="" asp-page="/Local">Estoque</a>
                                <a class="nav-link text-white" asp-area="" asp-page="/Devolucao">Devoluções</a>
                                <a class="nav-link text-white" asp-area="" asp-page="/Celular">Celulares</a>
                            </ul>
                            <div class="btn-group-custom">
                                <form method="post" asp-area="" asp-page="/Logout">
                                    <button type="submit" class="btn logout-button">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-end footer text-muted">
        <div class="container">
            &copy; 2024 - EstoqueWEB - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
