@page
@model EstoqueWEB.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Aplicação Web desenvolvida em C#, construida para o gerenciamento de um CRUD de Estoque, com opções criação, exportação gerenciamento e memorização!</p>

<p>
<br />

<h2>
    Back-End
</h2>
    • C# <br />
    • .Net Core <br />
    • Entity Framework Core <br />
    • Razor<br />
<br>

<h3>
    Front-End
</h3>
    • HTML <br />
    • CSS <br />
    • JavaScript <br />
<br>
<h4>
    Banco de Dados
</h4>
    • MySQL
