@page
@model EstoqueWEB.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Aplicação Web desenvolvida em C#, construida para o gerenciamento de Estoque, com opções criação, memorização e edição!</p>

<br />

<h3>
    Back-End
</h3>
    • C# <br />
    • .Net Core <br />
    • Entity Framework Core <br />
    • Razor<br />
<br>

<h3>
    Front-End
</h3>
    • HTML <br />
    • CSS <br />
    • JavaScript <br />
<br>
<h3>
    Banco de Dados
</h3>
    • MySQL
<br />
    <br />
<h3>
    Pacotes NuGet
</h3>
    • EntityFramework
    • Microsoft.AspNetCore.Identity.EntityFrameworkCore<br />
    • Microsoft.EntityFrameworkCore<br />
    • Microsoft.EntityFrameworkCore.Desing<br />
    • Microsoft.EntityFrameworkCore.Tools<br />
    • Microsoft.Extensions.Identity.Core<br />
    • Pomelo.EntityFrameworkCore.MySql<br />
    • System.Linq<br />
<br />
