@page
@model EstoqueWEB.Pages.AdminModel
@{
}
    ViewData["Title"] = "Painel de Administração";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a asp-page="Local" class="list-group-item list-group-item-action">Pagamentos Adicionais</a>
            </div>
        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>