@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Inicial";
}
<style>
    .titulo {
        text-align: center;
        color: #0096c7;
        margin-bottom: 20px;
    }
</style>

<div class="text-center">
    <h1 class="titulo">Bem-Vindo</h1>
    <p>Desenvolvimento WEB em Asp.Net Core para gerenciamento de Estoque!</p>
</div>
