@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Inicial";
}
<style>
    .titulo {
        text-align: center;
        color: #0096c7;
        margin-bottom: 20px;
    }

    .italic-text {
        font-style: italic;
    }
</style>

<div class="text-center">
    <h1 class="titulo">EstoqueWEB</h1>
    <p class="italic-text">Desenvolvimento WEB em Asp.Net Core para gerenciamento de Estoque!"</p>

</div>
