@page
@model EstoqueWEB.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-ms-12 col-md-12 col-lg-4">
                <p>Tem certeza que deseja sair?</p>

                <p>
                    <button class="btn sim-button" type="submit" asp-page-handler="Logout">SIM</button>
                    <button class="btn nao-button ml-5" type="submit" asp-page-handler="DontLogout">NÃO</button>
                </p>
            </div>
        </div>
    </div>
</form>
