@page
@model EstoqueWEB.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<style>
    .logout-button {
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-left: 10px;
    }

        .logout-button:hover {
            background-color: #dc3545;

        }

    .sim-button {
        background-color: #0096c7;
        border-color: #0096c7;
        color: white;
    }

        .sim-button:hover {
            background-color: #0096c7;
            border-color: #0096c7;
        }

    .nao-button {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

        .nao-button:hover {
            background-color: #dc3545;
            border-color: #dc3545;
        }
</style>
<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-ms-12 col-md-12 col-lg-4">
                <p>Tem certeza que deseja sair?</p>

                <p>
                    <button class="btn sim-button" type="submit" asp-page-handler="Logout">SIM</button>
                    <button class="btn nao-button ml-5" type="submit" asp-page-handler="DontLogout">NÃO</button>
                </p>
            </div>
        </div>
    </div>
</form>
